<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница пользователя</title>

    <div th:replace="fragments/header::header-css"></div>
</head>
<body>

<div th:replace="fragments/header:: header"></div>
<br><br><br><br><br><br>

<div class="container mt-5">
<div><p th:text="${title}">Your Stat for exam!</p></div>
<hr/>
<!-- results -->
<div>
    <table>
        <tr><td>Start:</td><td th:text="${start}"></td></tr>
        <tr><td>Finish:</td><td th:text="${finish}"></td></tr>
        <tr><td>Questions:</td><td th:text="${questionCount}"></td></tr>
        <tr><td>Grade:</td><td th:text="${grade}"></td></tr>
        <tr><td>Max Grade:</td><td th:text="${maxGrade}"></td></tr>
    </table>
</div>
<form th:action="@{/logout}" th:method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Exit"/>
</form>

</div>
<!-- /.container -->

<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>