<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Страница тестов</title>

    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<!-- container body -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/user}">Список пользователей</a></p>
            <p><a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin}">Загрузка тестов</a></p>
            <p><a th:href="@{/theme}">Темы тестирования</a></p>
        </div>
        <div class="col-sm-8 text-left">
                <div><h3><label th:text="${examName}">Добро пожаловать на тест!</label></h3>
                    <div class="form-group">
                        <!--Таймер-->
                        <input type="hidden" th:id="examTime" th:value="${examTime}">
                        <div>Оставшееся время: <span id="tm"></span></div>
                    </div>
                    <hr>
                    <!--    Вопросы-->
                    <div class="form-group col-sm-10">
                        <label for="questions">Выберите вопрос</label>
                        <select class="form-control" id="questions" size="1"></select>
                    </div>
                    <div class="form-group col-sm-10 ">
                        <!--    Вопрос-->
                        <div class="form-group"><p id="question"></p></div>
                        <!--    варианты ответов-->
                        <div class="form-check" id="answers"></div>
                    </div>
                    <!-- кнопка следующего вопрос и завершить и сохранить-->
                    <div class="form-group form-inline col-xs-8 ">
                        <input class="form-group form-inline btn btn-primary" id="next" type="button" value="Следующий вопрос"/>

                        <form class="form-group form-inline" th:action="@{/test/save}" th:object="${results}" th:method="post">

                            <input type="hidden" name="id" th:fild="*{id}" th:value="*{id}"/>
                            <input type="hidden" name="examId" th:fild="*{examId}" th:value="*{examId}"/>
                            <input type="hidden" name="answers" id="useranswers" th:fild="*{answers}"
                                   th:value="*{answers}"/>
                            <input class="form-group form-inline btn btn-danger" id="done" type="submit" value="Завершить"/>
                        </form>
                    </div>
                </div>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>Рекламный блок</p>
            </div>
            <div class="well">
                <p>Рекламный блок</p>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script th:inline="javascript">
    let userAnswers = {};
    /*<![CDATA[*/
    let questions = /*[[${questions}]]*/ [{'id': 1, 'multiAnswer': false, 'name': 'Вопрос?'}];
    /*]]>*/
    $(document).ready(function () {
        $("#next").click(nextHandler);
        let q = $("#questions");
        $.each(questions, function () {
            q.append($("<option />").val(this.id).text(this.name));
        });

        comboHandler(); // Старт
        q.change(comboHandler);

        function comboHandler() {
            let elm = $('#questions option:selected');
            let i = elm.index();
            $("#question").text(questions[i].name);
            loadAnswers(questions[i].id, questions[i].multiAnswer);
        }

        function loadAnswers(id, isMulti) {
            let url = location.protocol + '//' + location.host + '/answers/' + id;
            let answers = $('#answers');
            answers.empty();
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'GET',
                success: function (data, status) {
                    let elmType = isMulti ? "checkbox" : "radio";
                    $.each(data, function (i, v) {
                        let btn = $("<input />", {type: elmType, name: 'answer', value: v.id, id: v.id});
                        if (userAnswers[v.id]) {
                            btn.attr("checked", true);
                        }
                        let lab = $("<label />", {html: btn}).append(v.name);
                        answers.append(btn, [lab, $("<br />")]);
                    });
                },
                error: function () {
                }
            });
        }

        // кнопка обработки ответа - сохранить результат и перейти к следующему вопросу
        function nextHandler() {
            let answers = $('#answers').children('input');
            $.each(answers, function (i, elm) {
                userAnswers[elm.id] = elm.checked;
            });
            let elm = $('#questions option:selected');
            let len = $('#questions').children('option').length;
            let i = elm.index();
            /*<![CDATA[*/
            if (i == (len - 1)) {
                $('#questions option:first-child').attr("selected", "selected");
            } else {
                $('#questions option:selected').next('option').attr('selected', 'selected');
            }
            $('#questions').change();
            /*]]>*/
        }

        $("form").submit(function (event) {
            let ua = [];
            for (const k in userAnswers) {
                if (userAnswers[k]) ua.push(k);
            }
            $("#useranswers").val(ua);
        });

        // Таймер времени
        let countDownTimer = parseInt($('#examTime').val());

        function timerFunction() {
            let m = ((countDownTimer / 60) >> 0);
            let s = (countDownTimer % 60);
            $('#tm').text(("00" + m).slice(-2) + ':' + ("00" + s).slice(-2));
            if (countDownTimer == 0) {
                $('#done').click();
            }
            countDownTimer -= 1;
        }

        setInterval(timerFunction, 1000);
    });
</script>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
